*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my_bg{
  background-color: cornflowerblue;
}
#thumbs-wrapper{
  height: calc(100% / 5);
}
#thumbs-wrapper img{
  width: 100%;
  height: 20%;
  object-fit: cover;
}